# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
*.egg

# Flutter / Dart
.dart_tool/
.packages
build/
*.iml
.idea/
android/app/google-services.json
parent_app/.metadata
child_app/.metadata

# IDE
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
*.env.local

# Docker
pgdata/

# Firebase
*-service-account.json
